{% extends 'base.html.twig' %}

{% block title %}Garage Vincent Parrot - Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <article class="contact_article">
        <h2 class="">Connectez-vous</h2>

        <section class="contact_article_form">
            <div class="contact_form_shorts">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="contact_form_short" autocomplete="email" required autofocus>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="contact_form_short" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>
        </section>
        <button class="link" type="submit">Connexion</button>

        
    </article>
</form>
{% endblock %}
