<!-- Car -->
<article class="sale_article_car">

  {% if car.imageName %}
    <img src="{{ vich_uploader_asset(car, 'imageFile') }}" alt="Photo of the car for sale : {{ car.title }}">
  {% else %}
    <img src="{{ asset('images/logo/logoGarage.svg') }}" alt="Photo of the car for sale : {{ car.title }}">
  {% endif %}
  
  <div>
    <h3 class="sale_article_title">{{ car.title }}</h3>
    <p>
      <label for=""></label>
    </p>
    <ul>
      <li>Année : <em  class="year">{{ car.buildYear }}</em></li>
      <li>Carburant : <em class="fuel">{{ car.fuel }}</em></li>
      <li>Kilométrage : <em class="km">{{ car.kilometer }}</em>km</li>
      <li>Prix : <em class="price">{{ car.price }}</em>€</li>
    </ul>
    <a href="{{ path('app_show_car', {'id': car.id}) }}" class="link">Voir l'annonce</a>
  </div>
</article>