{% extends 'base.html.twig' %}

{% block title %}Garage Vincent Parrot - Opinion page{% endblock %}

{% block body %}

    {# Success messages #}
    <article class="confirmation_article">
        {% for flashMessage in app.flashes('success') %}
            <div class="confirmation_div" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
    </article>

    <article class="opinion_article">
        {{ form_start(opinionForm) }}

        <h2>Nous laisser un commentaire</h2>
        
            <section class="opinion_article_form">
                <div class="opinion_form_shorts">
                    <p class="opinion_form_short">
                        {{ form_row(opinionForm.lastname, {
                            'label': 'Votre nom : '
                        }) }}
                    </p>
                    <p id='opinionFormTitle' class="opinion_form_short">
                        {{ form_row(opinionForm.grade, {
                            'label': 'Votre note : '
                        }) }}
                    </p>
                    <p class="opinion_form_short">
                        {{ form_row(opinionForm.commentary, {
                            'label': 'Votre commentaire : '
                        }) }}
                    </p>
                    {% if user %}
                        <p class="opinion_form_short">
                            {{ form_row(opinionForm.is_validated, {
                                'label': 'Commentaire validé? '
                            }) }}
                        </p>
                    {% endif %}
                </div>

            </section>
            <button class="link" type"button">Envoyer votre commentaire</button>
        {{ form_end(opinionForm) }}
    </article>

    {% if user %}
        <article class="opinion_article">
            <h2>Les commentaires des visiteurs</h2>
            {% for oneForm in opinionsFormList %}
                <section class="opinion_article_form">
                    <div class="opinion_form_shorts">
                        <p class="opinion_form_short">Nom : {{ oneForm.lastname}}</p>
                        <p class="opinion_form_subject">Note : {{ oneForm.grade}} / 5</p>
                        <p class="opinion_form_message">Commentaire : {{ oneForm.commentary}}</p>
                        <p class="opinion_form_validate">Commentaire validé : {{ oneForm.isvalidated}}</p>
                    </div>

                    <div class="opinion_form_shorts">
                        <form action="{{ path('app_opinion_delete', {id: oneForm.id} )}}" method= "post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="link">Supprimer</button>
                        </form>
                        <a href="{{ path('app_opinion_edit', {id: oneForm.id}) }}" class="link">Modifier</a>
                    </div>
                </section>
            {% endfor %}
        </article>
    {% endif %}
    
    

{% endblock %}
